function Main.main 5
push constant 3
call Matrix.eye 1
pop local 0
push constant 3
call Matrix.new 1
pop local 1
push local 1
push constant 0
push constant 0
push constant 1
call Matrix.setElem 4
pop temp 0
push local 1
push constant 0
push constant 1
push constant 1
call Matrix.setElem 4
pop temp 0
push local 1
push constant 0
push constant 2
push constant 1
call Matrix.setElem 4
pop temp 0
push local 0
push local 1
call Matrix.add 2
pop local 2
push local 2
push constant 3
call Matrix.printMatrix 2
pop temp 0
call Output.println 0
pop temp 0
push local 0
push constant 15
call Matrix.multScalar 2
pop local 3
push local 3
push constant 3
call Matrix.printMatrix 2
pop temp 0
call Output.println 0
pop temp 0
push local 1
push local 2
call Matrix.multMat 2
pop local 4
push local 4
push constant 3
call Matrix.printMatrix 2
pop temp 0
call Output.println 0
pop temp 0
push local 0
call Matrix.norm 1
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push local 1
call Matrix.norm 1
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push local 2
call Matrix.norm 1
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push local 3
call Matrix.norm 1
call Output.printInt 1
pop temp 0
call Output.println 0
pop temp 0
push local 4
call Matrix.norm 1
call Output.printInt 1
pop temp 0
push local 0
call Matrix.dispose 1
pop temp 0
push local 1
call Matrix.dispose 1
pop temp 0
push local 2
call Matrix.dispose 1
pop temp 0
push local 3
call Matrix.dispose 1
pop temp 0
push local 4
call Matrix.dispose 1
pop temp 0
push constant 0
return
