function Main.main 1
push constant 0
push constant 0
call Clock.new 2
pop local 0
push local 0
call Clock.drawClock 1
pop temp 0
label WHILE_EXP0
push constant 0
not
not
if-goto WHILE_END0
push local 0
call Clock.tick 1
pop temp 0
push constant 1000
call Sys.wait 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
